div
  h2.subheader Who we are
  p
  | Open Budget is a project by Code for Tulsa.
  h4.subheader Current team:
  ul.list-unstyled
    li Brad Markel
    li John Dunagan
      h4.subheader City partners:
  ul.list-unstyled
    li Nathan Pickard
    li James Wagner
    li Mayor GT Bynum
      h4.subheader Inspired By
  ul.list-unstyled
    li Open Budget OKC
    li Open Budget Oakland
