.container
  .row
    .col-md-12
      h1 Tulsa Budget Visualizations

  .row.visualizations
    .col-md-4
      a(href="/fy2016-tul-budget-tree.html")
        h3 Fiscal Year 2016 Budget
        img.img-responsive(src="/images/fy2016-tree-thumb.png")
    .col-md-4
      a(href="/budget-process.html")
        h3 Tulsa Budget Process Timeline
        img.img-responsive(src="/images/fy2017-timeline-thumb.png")
    .col-md-4
     a(href="/budget-radar.html")
       h3 Radar View
       img.img-responsive(src="/images/radar_screen_thumb.png")

  .row
    .col-md-4
      a(href="/budget-source-sankey.html")
        h3 Budget Sources and Uses
        img.img-responsive(src="/images/old-sankey-thumb.png")
