.container
  .row
    .col-md-12
      h1 Tulsa Budget Visualizations

  .row.visualizations
    .col-md-4
      a(href="/fy2017-tul-budget-tree.html")
        h3 Fiscal Year 2017 Budget
        img.img-responsive(src="/images/fy2017-tree-thumb.png")
    .col-md-4
      a(href="/budget-process.html")
        h3 Tulsa Budget Process Timeline
        img.img-responsive(src="/images/fy2017-timeline-thumb.png")
    .col-md-4
      a(href="/budget-source-sankey.html")
        h3 Budget Sources and Uses
        img.img-responsive(src="/images/old-sankey-thumb.png")
