


.container
  .row
    .col-md-12
      h1 Tulsa 2016 Budget Visualizations
      h4.subheader
        | Understanding the city budget by visualizing data, providing a forum for dialogue, and sharing essential information about the budget process.

  hr

  .row.visualizations
    .col-md-4
      a(href="/budget-source-sankey.html")
        h3 Tulsa Budget Flow Diagram
        img.img-responsive(src="/images/old-sankey-thumb.png" title="In statistical lingo, it's called a 'Sankey' diagram")
        p See where the money comes from, and goes to, in city operations.
    .col-md-4
      a(href="/fy2016-tul-budget-tree.html")
        h3 Fiscal Year 2016 Budget
        img.img-responsive(src="/images/fy2016-tree-thumb.png")
        p See the entire 2016 budget and drill down into various departments and programs.
    .col-md-4
      a(href="/budget-process.html")
        h3 Tulsa Budget Process Timeline
        img.img-responsive(src="/images/fy2017-timeline-thumb.png")
        p See the timeline that Tulsa uses to propose and set their budget.

  hr

  .row
    .col-md-6
      != partial("_what-we-do")

    .col-md-6
      != partial("_who-we-are")
